@model IEnumerable<ASPNetCoreWebDapper.Models.User.UserView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceBookUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedInUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwitterUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalWebUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfExperience)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaceBookUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedInUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwitterUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalWebUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfExperience)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
