@model ASPNetCoreWebDapper.Models.GroupMeetingView

@{
    ViewData["Title"] = "Details";
     var roms = new List<RomView>();
    roms = ViewBag.Roms;
}

<h1>Details</h1>

<div>
    <h4>GroupMeetingView</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupMeetingLeadName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupMeetingLeadName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamLeadName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamLeadName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupMeetingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupMeetingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RomName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id}) |
    <a asp-action="Index">Back to List</a>
</div>
